@import url('https://fonts.googleapis.com/css?family=Charm|Lato&display=swap');
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Charm', cursive; */

body {
  font-family: 'Lato';
  background: #f6f6f6;
  display: flex;  
}

#navbar {
/*   padding-right: 15px; */
  position: sticky;
  top: 10px;
  height: 100%;
  float: left;
  min-width: 250px;
/*   margin: 25px; */
  text-align: end;
  border-right: 2px solid black;  
}

#navbar header {
  padding-right: 5px;
}

img {
  width: 100px;
  padding-right: 5px;
}
#navbar ul li {
  list-style-type: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 25px 5px;  
}
#navbar ul li:nth-child(5) {
  border-bottom: 1px solid black;
}
#navbar ul a {
  text-decoration: none;  
}

header, #navbar ul a {
  font-family: 'Charm';
  color: #0170ba;
}

#main-doc {
  padding: 20px;
/*   min-width: 300px; */
  float: right;
  width: 80%;
}

header, .nav-link {
  font-size: 1.6rem;
}

article {
  padding: 50px 20px;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.nav-link {
  color: black;
  color: #0170ba; 
}
.nav-link:hover a{
  transform: scale(1.1);
}

#Resources article ul li a {
  color: #0170ba;
  text-decoration: none;
}

code {
  background: #2ca8e3;
/*   background: rgba(160,160,160,0.3); */
  padding: 4px 10px;
  border: 1px solid rgba(160,160,160,0.2);
  border-radius: 3px;
}


@media (max-width: 600px) {
  * {flex-wrap: wrap;}
  #navbar {background: gray;width: 100%; float: left; height: 375px;border: 1px solid #aaa;border-radius: 5px;text-align: center;}
  img { width: 50px;}
  #main-doc {width: 95%; float: none}
  #navbar ul li {margin-left: -40px;padding: 5px 5px;border: none;}
}